* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Shantell Sans', cursive;
}

h2 {
    text-align: center;
    margin: 10px;
}
form {
    max-width: 350px;
    margin: 0 auto;
}

fieldset {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

label {
    padding: 10px;
}

button {
    background-color: rgb(54, 151, 54);
    width: 350px;
    margin: 10px 0;
    padding: 4px;
    color: white;
    border-radius: 5px;
    font-weight: 500;

}

button:hover {
    background-color: green;
}